.form__field {
    margin-bottom: 2.4rem;

    &:last-child {
        margin-bottom: 1.6rem;
    }

    @include breakpoint($mobile) {
        margin-bottom: 1.6rem;
    }
}

.form__text {
    font-size: 1.6rem;
    color: $secondary-gray;

    @include breakpoint($mobile) {
        font-size: 1.4rem;
    }
}

.form__button {
    margin-top: 2.5rem;

    @include breakpoint($mobile) {
        margin-top: 1.6rem;
        font-size: 1.8rem;
    }
}