.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;
}

.header__inner {
    @include flex;
    border-radius: 7.5rem;
    margin: 2.4rem auto;
    padding: 1.5rem 3.4rem;
    background-color: $white;
}

.header__burger {
    cursor: pointer;
    display: none;

    &.show {
        display: block;
    }
}