.nav {
    display: none;

    &.show {
        display: block;
    }

    &--column {
        .nav__list {
            flex-direction: column;
            @include flex(normal);
        }
        
        .nav__item {
            margin-right: 0;
            margin-bottom: 2.5rem;
        }
    }
}

.nav__list {
    @include flex;
}

.nav__item {
    margin-right: 4.1rem;

    &:last-child {
        margin: 0;
    }
}

.nav__link {
    font-size: 1.3rem;
    font-family: $regular;
    line-height: 104%;
    color: $dark;
}