.info {
    margin-bottom: 6rem;

    @include breakpoint($tablet-pt) {
        margin-bottom: 2.7rem;
    }
}

.info__row {
    display: grid;
    gap: 3.2rem;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 3.2rem;

    &:last-child {
        margin-bottom: 0;
    }

    @include breakpoint($tablet-pt) {
        gap: 1.5rem;
        margin-bottom: 1.5rem;
    }
}

.info__item {
    border-radius: 4rem;

    &--info__item--img {
        grid-column: span 1;
    }

    &--text-content {
        grid-column: span 2;
        padding: 5.4rem 10.1rem;
        background-color: $light-gray;

        @include breakpoint($tablet) {
            padding: 4.3rem 2.3rem;
        }
    }

    @include breakpoint($tablet-pt) {
        grid-column: span 3;
        width: 100%;

        &--start {
            grid-row-start: -1;
        }
    }
}

.info__img {
    display: block;
    border-radius: 4rem;
    height: 100%;

    @include breakpoint($tablet-pt) {
        height: auto;
        width: 100%;
    }
}

.info__item-title {
    font-size: 3.2rem;
    line-height: 94%;
    margin-bottom: 1.8rem;

    @include breakpoint($mobile) {
        font-size: 2.3rem;
    }
}

.info__item-desc {
    font-size: 1.6rem;
    line-height: 156%;
}

.info__item-paragraph {
    margin-bottom: 1.5rem;

    &:last-child {
        margin-bottom: 0;
    }

    @include breakpoint($mobile) {
        margin-bottom: 2rem;
    }
}