$tablet: 991px;
$tablet-pt: 767px;
$mobile: 500px;

$black: #000;
$dark: #22253B;
$orange: #F15525;
$white: #fff;
$soft: #F9F8FD;
$light-gray:#eaf2f5;
$gray: #D8D8D8;
$soft-gray: #dedede;
$secondary-gray: #9f9f9f;
$dark-gray: #8E8E8E;
$blue: #38BFF2;

$regular: 'Gilroy-Regular';
$medium: 'Gilroy-Medium';
$heavy: 'Gilroy-Heavy';
$bold: 'Gilroy-Bold';
$semibold: 'Gilroy-SemiBold';

$linear: all linear .3s;