@import "vendor/reset";
@import "vars";
@import "mixins";
@import "fonts";

*, *::after, *::before {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    background-color: $soft;
    font-size: 1.4rem;
    font-family: $regular;
    color: $dark;
}

img {
    max-width: 100%;
}

.container {
    @include container(1160px, 0);
}

.phone-number {
    text-decoration: none;
    color: $blue;
    font-size: 1.6rem;
    line-height: 144%;
}

.title {
    font-family: $medium;
    font-size: 4.6rem;
}

.bold {
    font-family: $bold;
}

@import "components/header";
@import "components/nav";
@import "components/intro";
@import "components/button";